
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: 'Martian Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B2E4A;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
