

.autobuyer{
    height: 8vmin !important;
}

.buyable{
    border: solid green 2px !important;
}

.autobuyerHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UpgradesContainer{
    display: flex;
    justify-content: space-evenly;
}

.UpgradesContainer button{
    width: 10vw;
    height: 20vh;
}

.resourceIdentifier{
    font-size: 2vmin;
}

.UpgradesContainer button h3{
    font-size: 2vmin;
    height: 2vmin;
}

.UpgradesContainer button h4{
    font-size: 1.5vmin;
    height: 1vmin;
}

.UpgradesContainer button h5{
    font-size: 1.25vmin;
    height: 0.75vmin;
}

.UpgradesContainer button p{
    font-size: 1.5vmin;
    height: 4vmin;
}

.Upgrade{
    width: 20vmin !important;
    height: 20vmin !important;
}

#fireUpgrades button{
    background-color: #a43f53;
    border: #53354A solid 2px;
}

#fireUpgrades button:hover{
    background-color: #813b49;
}

#waterUpgrades button{
    background-color: #326ecd;
    border: #53354A solid 2px;
}

#waterUpgrades button:hover{
    background-color: #3660a3;
}


#earthUpgrades button{
    background-color: #9E7323;
    border: #53354A solid 2px;
}

#earthUpgrades button:hover{
    background-color: #81622b;
}

#fireUpgrades button:disabled{
    background-color:#732635;
    color: black;
}

#waterUpgrades button:disabled{
    background-color: #204f99;
    color: black;
}

#earthUpgrades button:disabled{
    background-color: #735114;
    color: black;
}